@font-face {
  font-family: "Open Sans";
  src: url(./OpenSans-Regular.woff);
}

html {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #222;
}

h1 {
	display: none;
}

main {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

main time {
	font-size: 42vh;
}

main img#logo {
	position: absolute;
	bottom: 5rem;
	right: 5rem;
	height: 23vh;
	opacity: 0.23;
}

main div#help {
	position: absolute;
	top: 5rem;
	left: 50%;
	right: 5rem;
	background: #fff;
}

main p#help-button {
	text-align: right;
	font-size: xx-large;
}

main div#help-content {
	border: 1px solid #222;
	padding: 0.23rem 2.3rem;
	font-size: smaller;
}

a, a:visited, a:focus {
	color: #ffb266;
}

#help-button a, #help-button a:visited, #help-button a:focus  {
	color: #222;
	opacity: 0.23;
}

#help-button a:hover {
	opacity: 1;
}

.hide {
	display: none;
}
